# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Database
db.sqlite3

# Logs
*.log
logs/

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backup Files
*.zip