{% extends "base.html" %}

{% block title %}
เปลี่ยนรหัสผ่านสำเร็จ
{% endblock %}

{% block content %}

<section class="customer-dashboard">
    <div class="container">

        <div class="dashboard-card text-center">

            <h2>

                เปลี่ยนรหัสผ่านเรียบร้อยแล้ว

            </h2>

            <a
                href="{% url 'accounts:login' %}"
                class="dashboard-primary-button"
            >
                เข้าสู่ระบบ
            </a>

        </div>

    </div>
</section>

{% endblock %}