{% extends "base.html" %}

{% block title %}
ลืมรหัสผ่าน | ÉLYSIA
{% endblock %}

{% block content %}

<section class="customer-dashboard">
    <div class="container">

        <div class="dashboard-heading">
            <div>
                <h1 class="dashboard-title">
                    ลืมรหัสผ่าน
                </h1>

                <p class="dashboard-subtitle">
                    กรอกอีเมลที่ใช้สมัครสมาชิก
                    เพื่อรับลิงก์รีเซ็ตรหัสผ่าน
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6">

                <section class="dashboard-card password-form-card">

                    <form method="post">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button
                            class="dashboard-primary-button"
                            type="submit"
                        >
                            ส่งลิงก์รีเซ็ตรหัสผ่าน
                        </button>

                    </form>

                </section>

            </div>
        </div>

    </div>
</section>

{% endblock %}