{% load static %}

<section class="instagram-section">

    <div class="container">

        <div class="section-heading">
            <span>✦</span>
            <h2>FOLLOW OUR MOMENTS</h2>
            <p>@lyceea.cozy</p>
        </div>

        <div class="instagram-grid">

            <img src="{% static 'images/products/product-09.jpg' %}" alt="">
            <img src="{% static 'images/products/product-10.jpg' %}" alt="">
            <img src="{% static 'images/products/product-11.jpg' %}" alt="">
            <img src="{% static 'images/products/product-12.jpg' %}" alt="">
            <img src="{% static 'images/products/product-13.jpg' %}" alt="">
            <img src="{% static 'images/products/product-14.jpg' %}" alt="">

        </div>

    </div>

</section>